/* load-animation.css */

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
}

.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 1000;
}

.top-half, .bottom-half {
    background-color: #1e2a38; /* Atom One Dark background color */
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-half {
    border-bottom: 2px solid #3e4451; /* Atom One Dark border color */
    border-color: white;
}

.loading-content {
    animation: fadeIn 1s ease-in-out;
    text-align: center;
}

.loading-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5em;
    font-weight: 700;
    color: #ffffff; /* White text */
}

.loading-subtitle {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    color: #abb2bf; /* Atom One Dark subtitle color */
    margin-top: 10px;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes flyUp {
    from { transform: translateY(0); }
    to { transform: translateY(-100%); }
}

@keyframes flyDown {
    from { transform: translateY(0); }
    to { transform: translateY(100%); }
}

.fly-up {
    animation: flyUp 1s forwards;
}

.fly-down {
    animation: flyDown 1s forwards;
}
