{% extends 'base.html' %}

{% block title %}About - NJIT Global Explorer & Rohan Shah{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="display-4 text-center">About NJIT Global Explorer</h1>
    <p class="lead text-center">This project is a research initiative to determine the impact of the NJIT Study Abroad Program. Our goal is to understand and enhance the experiences of students participating in global educational opportunities.</p>
    
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <h2 class="text-center">About Me</h2>
            <p class="text-center">My name is Rohan Shah, a Computer Science major at the Albert Dorman Honors College. I am passionate about leveraging technology to solve real-world problems and connect communities.</p>
            <p class="text-center">Connect with me on <a href="https://github.com/rshah713/" target="_blank">GitHub</a> or <a href="https://www.linkedin.com/in/rohan-shah-528504245/" target="_blank">LinkedIn</a>.</p>
        </div>
    </div>
</div>
{% endblock %}