{% extends 'base.html' %}

{% block title %}Data Entry Page{% endblock %}

{% block additional_styles %}
<style>
    .container {
        background-color: #282c34;
        color: #abb2bf;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 8px 16px rgba(0,0,0,0.3);
    }
    .form-group label {
        color: #61afef;
    }
    .form-control {
        background-color: #3e4451;
        color: #abb2bf;
        border: 1px solid #4b5263;
    }
    .form-control::placeholder {
        color: #5c6370;
    }
    .btn-primary {
        background-color: #61afef;
        border-color: #61afef;
    }
    .btn-primary:hover {
        background-color: #4b8ecf;
        border-color: #4b8ecf;
    }
    h1, h3 {
        color: #e06c75;
    }
    .axis-label {
        margin-top: 20px;
    }
    #datasetSelectContainer {
        margin-bottom: 20px;
    }
</style>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div id="success-alert" class="alert alert-success" style="display: none;">
        Your data has been successfully saved.
    </div>
    <div id="error-alert" class="alert alert-danger" style="display: none;">
        Error saving data.
    </div>
    <h1 class="text-center">Data Entry Page</h1>
    <form>
        <div class="form-group">
            <label for="chartSelect">Select Chart</label>
            <select class="form-control" id="chartSelect" onchange="displayDatasetSelect(this.value)">
                <option selected disabled>Choose...</option>
                <!-- Add more options as needed -->
            </select>
        </div>

        <div class="form-group" id="datasetSelectContainer" style="display: none;">
            <label for="datasetSelect">Select Dataset</label>
            <select class="form-control" id="datasetSelect" onchange="displayDatasetInfo(this.value)">
                <option selected disabled>Choose...</option>
                <!-- Add more options as needed -->
            </select>
        </div>

        <div id="axisInputs" style="display: none;">
            <div class="row">
                <div class="col labels-container">
                    <h3 class="text-center axis-label">Labels</h3>
                    <!-- Input fields will be added here -->
                </div>
                <div class="col values-container">
                    <h3 class="text-center axis-label">Values</h3>
                    <!-- Input fields will be added here -->
                </div>
            </div>
            <button type="submit" class="btn btn-primary mt-3" onclick="saveData(event)">Save</button>
        </div>
    </form>
</div>
<script>
    window.onload = function() {
        fetch('/get_chart_data')
            .then(response => response.json())
            .then(data => {
                retrievedData = data;
                const chartSelect = document.getElementById('chartSelect');
                let keys = Object.keys(data);
                keys = keys.filter(key => key !== 'description');

                keys.forEach(chartName => {
                    const option = document.createElement('option');
                    option.text = chartName;
                    option.value = chartName;
                    chartSelect.add(option);
                });
            })
            .catch(error => console.error('Error:', error));
    };
    function removeOptions(selectElement) {
        var i;
        var L = selectElement.options.length - 1;
        for(i = L; i > 0; i--) {
            selectElement.remove(i);
        }
    }
    function displayDatasetSelect(value) {
        if (value) {
            document.getElementById('datasetSelectContainer').style.display = 'block';
            document.getElementById('axisInputs').style.display = 'none';
            const dataSelect = document.getElementById('datasetSelect');
            removeOptions(dataSelect);
            retrievedChart = value;
            retrievedData[value].datasets.forEach(datasetName => {
                const option = document.createElement('option');
                option.text = datasetName.label;
                option.value = datasetName.label;
                dataSelect.add(option);
            });
        } else {
            document.getElementById('datasetSelectContainer').style.display = 'none';
            document.getElementById('axisInputs').style.display = 'none';
        }
    }

    function displayDatasetInfo(value) {
        if (value) {
            document.getElementById('axisInputs').style.display = 'block';
            const labelsContainer = document.querySelector('.labels-container');
            const valuesContainer = document.querySelector('.values-container');

            labelsContainer.innerHTML = '';
            valuesContainer.innerHTML = '';

            retrievedDatasetLabel = value;
            let datasets = retrievedData[retrievedChart].datasets
            const numDatasets = datasets.length;
            let chosenDataset;
            for (let i = 0; i < numDatasets; i++) {
                if (datasets[i].label === value) {
                    chosenDataset = datasets[i];
                    break;
                } else {
                    console.log("FOUND " + value + " instead of " + datasets[i].label);
                }
            }
            // console.log(chosenDataset);
            // console.log(chosenDataset.data[5]);
            const numDataPoints = chosenDataset.data.length;
            const numLabels = retrievedData[retrievedChart].labels.length;
            let valueCounter = 0; // this could be LESS than amount of labels
            for (let i = 0; i < numLabels; i++) {
                const labelInput = document.createElement('input');
                labelInput.type = 'text';
                labelInput.className = 'form-control mb-3';
                labelInput.placeholder = retrievedData[retrievedChart].labels[i];
                labelsContainer.appendChild(labelInput);

                const valueInput = document.createElement('input');
                valueInput.type = 'text';
                valueInput.className = 'form-control mb-3';
                
                if (i < numDataPoints) {
                    valueInput.placeholder = chosenDataset.data[i];
                } else {
                    valueInput.placeholder = `No data recorded`;
                }
                valuesContainer.appendChild(valueInput);
            }
        } else {
            document.getElementById('axisInputs').style.display = 'none';
        }
    }
function saveData(event) {
    event.preventDefault();
    const labelsContainer = document.querySelector('.labels-container');
    const valuesContainer = document.querySelector('.values-container');
    const labelInputs = labelsContainer.querySelectorAll('input');
    const valueInputs = valuesContainer.querySelectorAll('input');

    let labels = [];
    let data = [];

    for (let i = 0; i < labelInputs.length; i++) {
        // If the input value is empty, use the placeholder. Otherwise, use the input value.
        labels.push(labelInputs[i].value || labelInputs[i].placeholder);
        data.push(parseFloat(valueInputs[i].value) || parseFloat(valueInputs[i].placeholder));
    }

    
    const payload = {
        'chartName': retrievedChart,
        'datasetLabel': retrievedDatasetLabel,
        'labels': labels,
        'data': data
    };

    fetch('/save_new_data', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(payload)
    })
    .then(response => {
        if (response.ok) {
            document.getElementById('success-alert').style.display = 'block';
            setTimeout(() => document.getElementById('success-alert').style.display = 'none', 3000);
        } else {
            document.getElementById('error-alert').style.display = 'block';
            setTimeout(() => document.getElementById('error-alert').style.display = 'none', 3000);
        }
        // Scroll to the top of the page after saving
        window.scrollTo(0, 0);
        return response.json();
    })
    .then(data => console.log(data))
    .catch((error) => {
        console.error('Error:', error);
        document.getElementById('error-alert').style.display = 'block';
        setTimeout(() => document.getElementById('error-alert').style.display = 'none', 3000);
    });
}
</script>
{% endblock %}
