{% extends 'base.html' %}

{% block title %}Login - NJIT Global Explorer{% endblock %}

{% block additional_styles %}
    <link rel="stylesheet" href="static/css/login_styles.css">
{% endblock %}

{% block content %}
<div class="container">
    <div id="popup" class="popup">
        <div class="popup-content">
            <span class="close-btn">&times;</span>
            <button id="googleSignInButton" class="google-button" onclick="login()">
                <img src="https://img.icons8.com/color/16/000000/google-logo.png" alt="Google logo" class="google-logo">
                Continue with Google
            </button>
            <a href="#" class="help-link">Need help?</a>
        </div>
    </div>
</div>
{% endblock %}

{% block additional_scripts %}
<script type="module">

  import { initializeApp } from "https://www.gstatic.com/firebasejs/10.12.2/firebase-app.js";
  import { getAuth, GoogleAuthProvider, signInWithRedirect, getRedirectResult } from "https://www.gstatic.com/firebasejs/10.12.2/firebase-auth.js";

  // Your web app's Firebase configuration
  // For Firebase JS SDK v7.20.0 and later, measurementId is optional
  const firebaseConfig = {
    apiKey: "{{api_key}}",
    authDomain: "njitglobalexplorer.firebaseapp.com",
    projectId: "njitglobalexplorer",
    storageBucket: "njitglobalexplorer.appspot.com",
    messagingSenderId: "112642921550",
    appId: "1:112642921550:web:87e3928730ec7c8987df1f",
    measurementId: "G-PN7RTPMT4L"
  };

  // Initialize Firebase
  const app = initializeApp(firebaseConfig);
  const auth = getAuth(app);

  window.login = function() {
    const provider = new GoogleAuthProvider();
    provider.addScope('https://www.googleapis.com/auth/userinfo.email');
    provider.addScope('https://www.googleapis.com/auth/userinfo.profile');
    provider.setCustomParameters({
      prompt: 'select_account'
    });
    signInWithRedirect(auth, provider);
  }

  window.addEventListener('load', () => {
    getRedirectResult(auth)
      .then((result) => {
        if (result && result.user) {
          const user = result.user;
          console.dir(result);
          debugger;
          fetch('/handle_login', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              uid: user.uid,
              email: user.email,
              displayName: user.displayName,
              idToken: result._tokenResponse.idToken,
              refreshToken: result._tokenResponse.refreshToken
            })
          }).then((response) => {
            if (!response.ok) {
              logout();
              console.error("Error returned by /handle_login:", response);
              alert('Must use NJIT email to login');
              window.location.href = '/login';
            } else {
              window.location.href = '/';
            }
          }).catch((error) => {
            console.error("Error during handle_login:", error);
            alert('Must use NJIT email to login');
            window.location.href = '/login';
          });
        }
      }).catch((error) => {
        console.error("Error during getRedirectResult:", error);
      });
  });


  const previousUrl = "{{ previous_url | default(url_for('index')) }}"; // Default to the root URL if previous_url is not provided

  document.addEventListener("DOMContentLoaded", function () {
    const popup = document.getElementById("popup");
    const closeBtn = document.querySelector(".close-btn");

    // Functionality to close the popup and redirect to the previous page
    closeBtn.addEventListener("click", function () {
      window.location.href = previousUrl;
    });

    // Optionally, close the popup when clicking outside of it and redirect to the previous page
    document.addEventListener("click", function (event) {
      if (event.target === popup) {
        window.location.href = previousUrl;
      }
    });
  });
</script>
{% endblock %}